.navbar {
  background: var(--primary);
  color: var(--secondary);
  padding: 15px 3em;
  position: relative;
}

.links-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-link {
  color: var(--secondary);
  margin: 0px 10px;
}
